body {
    background-color: #062F4F;
    font-size: 15px; 
    color: white;
    font-family: 'Cabin Sketch', cursive;

}

body > div {
    background-color: rgba(0,0,0,0.3);
    font-size: 20px;
}

h4{
    color: #ee6123;
    margin: 10px 5px;
    padding: 5px;
}
p {
    color: #EAC67A;
    font-size: 14px;
}
body > nav > div > div > img{
    height: 40px; 
    width: auto;  
    margin-top: 5px;
}

#header-img > img {
    width: 25%;
}

body > div > div.row > form{
    margin: 50px;
}

body > div > div.row > form > div> label{
    color : #ee6123;
}


.navbar-inverse .navbar-brand {
    color: #EAC67A;
}
.navbar-inverse .navbar-nav > .active > a{
    color: #EAC67A;
}
.navbar-inverse .navbar-nav > li > a{
    color: #EAC67A;
}

#footer-image > img{
    width: 25%;
    margin-top: 40px;
}

.btn-primary{
    background-color: #ee6123;
    border: 2px solid #b7410e;
}
.btn-primary:hover {
    background-color: #b7410e;
    border: 2px solid #ee6123;
}

#title {
    display: inline-flex;
}

#title > h4:nth-child(1){
    color : #ee6123;
    margin-left: 15px;
}
#title > h4:nth-child(2){
    color: #e65212;
}
#title > h4:nth-child(3){
    color: #cf4910;
}
#title > h4:nth-child(4){
    color: #b7410e;
}
#title > h4:nth-child(5){
    color: #cf4910;
}
#title > h4:nth-child(6){
    color: #e65212;
}
#title > h4:nth-child(7){
    color: #ee6123;
}
.form-control, body > div > div.row > form > div:nth-child(1) > select{
    color: #813772;
    background-color: #FEFEED;
    background-image: none;
    border: 3px solid #EAC67A;
    border-radius: 30px;
   transition: none;
}
#event-loc::placeholder{
    color: #813772;
}
#loc-within::placeholder{
    color: #813772;
}
#welcome > p {
    color: #EAC67A;
    font-size: 2rem;
    font-weight: bold;
}
#about {
    margin: 150px;
}

body > div > div.well.spaced {
    background-color: #062F4F;
}
