body {
    background-color: #062F4F;
    font-size: 3rem; 
    color: #EAC67A;
    font-family: 'Cabin Sketch', cursive;
}
body > div {
    background-color: rgba(0,0,0,0.6);  
}
h4{
    font-size: 3rem;
    color: #ee6123;
    margin: 40px 3px;
    padding: 1px;
}
p {
    color: #EAC67A;
    font-size: 2rem;
    font-family: 'Chilanka', cursive;
}
body > nav > div > div > img {
    height: 40px; 
    width: auto;  
    margin-top: 5px;
}

body > div > div.row > form{
    margin: 50px;
}

body > div > div.row > form > div> label{
    color : #ee6123;
}

#header-image > img {
    width: 25%;
}

.navbar-inverse .navbar-brand {
    color: #EAC67A;
    font-size: 3rem;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > li > a{
    color: #EAC67A;
}
#footer-image > img{
    width: 25%;
    margin-top: 40px;
}

.btn-primary{
    background-color: #ee6123;
    border: 2px solid #b7410e;
    font-size: 2rem;
}
.btn-primary:hover {
    background-color: #b7410e;
    border: 2px solid #ee6123;
    font-size: 2rem;
}
#title {
    display: inline-flex;
    color : #ee6123;
    margin-left: 15px;
}
.form-control {
    font-size: 3rem;
    height: 6rem;
}
.form-control, body > div > div.row > form > div:nth-child(1) > select{
    color: #813772;
    background-color: #FEFEED;
    background-image: none;
    border: 3px solid #EAC67A;
   transition: none;
}
#event-loc::placeholder, #loc-within::placeholder{
    color: #813772;
    font-size: 3rem;
}
#welcome > p {
    color: #EAC67A;
    font-size: 4rem;
    font-weight: bold;
    margin-left: 20px;
}
body > div > div.well.spaced {
    background-color: #062F4F;
}
#events-list > div > div {
    height: calc(70vh - 50px);
    overflow-y: auto; 
    background-color: #062F4F;
}
#events-list > div > div > div, #events-list > div > div > div > div.panel-footer, .panel-default, .panel-default > .panel-heading, .panel-footer {
    background-color: #062F4F;
}
#events-list > div > div > div.panel-heading, #events-list > div > div > div.panel-footer {
    text-align: center;
}
#events-list > div > div > div.panel-heading > img, #events-list > div > div > div > img {
    display: inline-block;
}
.center-block {
    margin: auto;
    width: 50%;
}
#about-text {
    margin: 10%;
    font-size: 3rem;
}
.panel-title {
    font-size: 3rem;
    font-weight: bold;
    color: #ee6123;
}
.panel-body {
    font-size: 2rem;
}
