body > nav > div > div > img {
    height: 40px; 
    width: auto;  
    margin-top: 5px;
}

img {
    width: 30%;
    height: 20rem;
}

#footer_image > img{
    width: 33%;
    height: 50rem;
    margin-top: 20px;
}

body > div > div.row > form > input{
    background-color: #FFA500;
    color: #800080;

}

h3{
    color: #990000;
}

h5 {
    color:  #ff9999;
}