{% extends 'base.html' %}
{% block title %}About{% endblock %}
{% block header %}
<style type='text/css'>
    body{ background: #fffcf2 url('../static/img/dance_9.jpg') no-repeat center;
          background-size: cover;
}
</style>
{% endblock %}
{% block content %}
<div class="center-block" id="about">
    
    <h3 id="about-text">
        Welcome!
        <br><br>
        DanceDestination came to life because of my passion for dance and music!
        I am a multicultural dancer and finding dance events based on their music genre has been a challenge.
        Finding Hip Hop dance event is easy, but other styles dance event is challenging. 
        I designed and created DanceDestination, so every person can specify the music genre first and search for dance events based on that. 
        I hope you enjoy the events you find here and have a wonderful experience.

        <br>
        <br>
        Bahar
    </h3>
</div>
{% endblock %}