{% extends 'base.html' %}

{% block title %}DanceDestination{% endblock %}

{% block content %}
<div class="row">

    <div class="col-xs-12">

        <section id="header_image">
            <table id="fheader_img_table">
                <tr id="img1"><img src="static/img/dance_1.jpg"></tr>
                <tr id="img2"><img src="static/img/dance_2.jpg"></tr>
                <tr id="img3"><img src="static/img/dance_3.jpg"></tr>
                <tr id="img4"><img src="static/img/dance_4.jpg"></tr>
            </table>
        </section>
    </div>
    
    <div id="title" class="col-md-4">
        <h4>What</h4><h4>Are</h4><h4>You</h4><h4>in</h4><h4>the</h4><h4>Mood</h4><h4>Today?</h4>
    </div>

        <form action="/events" class="col-md-5">

            <div class="form-group">
                <label for="music_genre">Music Genre*</label>
                <select name="genre">
                    <option value="Jazz">Jazz</option>
                    <br>
                    <option value="Latin">Latin</option>
                    <option value="Tango">Tango</option>
                    <option value="Salsa">Salsa</option>
                    <br>
                    <option value="African">African</option>
                    <br>
                    <option value="Hip Hop">Hip Hop</option>
                    <br>
                    <option value="Electronic">Electronic</option>
                </select>
            </div>
            <div class="form-group">

                <label for="event-loc">Location*</label>
                <input id="event-loc" class="form-control" type="text" name="location" placeholder="San Francisco">

            </div>
            <div class="form-group">
                <label for="loc-within">Distance*</label>
                <input id="loc-within" class="form-control" type="number" name="distance" placeholder="25">
                <br>
                <select class="form-control" name="measurement">
                    <option value="mi">miles</option>
                    <option value="km">kilometers</option>
                </select>
            </div>
            <div class="form-group">
                <label for="sort-by">Sort by</label>
                <select id="sort-by" class="form-control" name="sort">
                    <option value="date">Date</option>
                    <option value="distance">Distance</option>
                    <option value="best">Best</option>
                </select>
            </div>
            <input type="submit" value="Look for Events!" class="btn btn-primary">
        </form>
    </div>
    <div class="col-xs-12">
        <section id="footer_image">
            <table id="footer_img_table">
                <tr id="img1"><img src="static/img/dance_5.jpg"></tr>
                <tr id="img2"><img src="static/img/dance_6.jpg"></tr>
                <tr id="img3"><img src="static/img/dance_7.jpg"></tr>
                <tr id="img4"><img src="static/img/dance_8.jpg"></tr>
            </table>      
        </section>
    </div>

{% endblock %}
{% block scripts %}

{% endblock %}