{% extends 'base.html' %}

{% block title %}Events{% endblock %}

{% block header%}
<style type='text/css'>
    img {
        width: 15rem;
        height: auto;
    }
</style>
{% endblock%}
{% block content %}

<h4> Events List:</h4>
<div class='container'>
    <ol id='events-list'>
        {% for events_row in eventbrite_results | batch(3) %}
            <div class='row'>
                {% for event in events_row %}
                    <div class="card" style="width: 18rem;">
                        {% if event.logo %}
                            <img class="card-img-top" src='{{event.logo.original.url}}' alt="Card image cap">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">
                                Name : {{event.name.html|safe}}
                            </h5>
                            <p class="card-text">
                                Summary : {{event.summary|safe}}, Start: {{event.start.local|safe}}
                            </p>
                            <a href="{{event.url}}" class="btn btn-primary">View More Info </a>
                        </div>
                    </div>
                {% endfor %}

            </div>
        {% endfor %}

        {% for events_row in elect_results | batch(3) %}
            <div class='row'>
                {% for event in events_row %}
                        <div class="card" style="width: 18rem;">
                          <div class="card-body">
                            <h5 class="card-title">Name : {{ event.name }}</h5>
                            <p class="card-text">Location : {{ event.location }}, 
                            Date : {{ event.date }},
                            Genre : {{ event.genre }},
                            Price and Age : {{ event.price_age }},
                            Organizer : {{ event.organizer }}
                            <a href="#" class="btn btn-primary">Link : {{ event.link | urlize }}</a>
                          </div>
                        </div>
                {% endfor %}
            </div>
        {% endfor %}

    </ol> 
</div>
{% endblock %}
