{% extends 'base.html' %}

{% block title %}Events{% endblock %}

{% block content %}

<h2> Events List:</h2>
    <ol>
        {% for event in results%}
        
            <li>
                <p>Name : {{event.name.html|safe}}</p>
                <p>Summary : {{event.summary|safe}}</p>
                <p>URL : {{event.url|urlize}}</p>
                <p>Start : {{event.start.local|safe}}</p>
                <p>Description : {{event.description.html|safe}}</p>
            </li>

        {% endfor %}
    </ol> 

{% endblock %}
